@font-face{
    font-family: DDC;
    src: url('./assets/fonts/DDCHardware-Condensed.otf') format('opentype')
}
.logo {
    font-family:'DDC' !important;
}

h1{ 
    font-family:'DDC' !important;
}

button{ 
    font-family:'DDC' !important;
}